.page-footer {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 100px;
    width: 99%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}